
.Toolbar {
  font-size: 1em;
  box-sizing: border-box;
  height: 40px;
}

.Toolbar-top, .Toolbar-left, .Toolbar-right {
  margin: 10px;
}

.Toolbar-top:hover, .Toolbar-left:hover, .Toolbar-right:hover {
  background-color: silver;
  cursor: pointer;
}
