
.grid-size-wrapper {
  position: absolute;
}

/* .grid-size {
} */

.grid-size-dropdown {
  position: relative;
  box-sizing: border-box;
  max-width: 253px;
  padding: 20px;
  border: 2px solid #aaaaaa;
  background-color: #f6f6f6;
}

.grid-size-dropdown p.size-instructions {
  margin: 0 0 24px 0;
}

.radio-component {
  margin-bottom: 18px;
}
.radio-component label {
  margin-left: 6px;
}

.radio-component input:hover, .radio-component label:hover {
  cursor: pointer;
}

.apply-grid-size {
  margin-top: 10px;
  margin-right: 28px;
}

.dialog-btn, .dialog-btn[disabled]:hover {
  padding: 8px;
  background-color: #f2f2f2;
  font-size: 1em;
  border: 1px solid #bbbbbb;
}

.dialog-btn:hover {
  background-color: #eaeaea;
  border: 1px solid #aaaaaa;
}
