
.palette {
}

.palette-wrapper {
  position: absolute;
}


.palette-dropdown {
  position: relative;
  box-sizing: border-box;
  width: 253px;
  right: 200px;
  padding: 20px;
  border: 2px solid #aaaaaa;
  background-color: #f6f6f6;
}

.palette-dropdown input {
  margin-top: 14px;
  padding: 6px;
  font-size: 1em;
  border: 1px solid #cccccc;
  width: 195px;
}

.palette-dropdown input:focus {
  outline: none;
}

.palette-dropdown .color-list {
  margin-top: 22px;
  border-top: 1px solid #aaaaaa;
}

.palette-dropdown .color-list p {
  margin-top: 6px;
  margin-bottom: 12px;
  width: 100%;
  text-align: center;
}

.palette-dropdown .color-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 0;
}

.palette-dropdown .color-list li {
  box-sizing: border-box;
  flex: 0 0 69px;
  width: 69px;
  font-size: 0.7em;
  padding: 3px;
  margin-bottom: 6px;
  hyphens: auto;
  text-align: center;
}

.palette-dropdown .color-list li .color-sample {
  margin-left: 16px;
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border: 1px solid #ffffff;
  border-radius: 11px;
  margin-bottom: 1px;
}

.palette-dropdown .color-list li .color-sample:hover {
  cursor: pointer;
}

