
.App {
  font-size: 1em;
  color: #282828;
}

/* minimum screen width supported by the header is 287 px, below this the
  info-btn will wrongly wrap into the toolbar */
.App-header {
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  height: 61px;
  background: linear-gradient(0deg, #181818 40%, #282828);
  border-top: 1px solid #181818;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.App-header.info-header {
  height: 104px;
}

.App-logo {
  transition-property: height, margin;
  transition-duration: 0.2s;
  transition-timing-function: ease;
  height: 36px;
  margin: 12px 22px;
}

.App a {
  text-decoration: none;
}

.App a:hover {
  text-decoration: underline;
}

.info-header .App-logo {
  height: 54px;
  margin: 24px 32px 24px 36px;
}

.info-btn, .back-to-editor-btn {
  height: 36px;
}

.info-btn {
  padding: 0;
  margin: 12px 22px;
  background-color: transparent;
  border: none;
}

.back-to-editor-btn {
  margin: 12px 22px 12px auto;
  background-color: #181818;
  padding: 0 12px;
  border-radius: 5px;
  border: 1px solid white;
}

.App-header button:focus {
  outline: none;
}

.info-btn svg {
  padding: 4px;
  height: 28px;
  width: 28px;
  fill: #dadada;
}

.info-btn:hover {
  cursor: pointer;
}

.info-btn:hover svg {
  fill: #ffffff;
}

.back-to-editor-btn {
  color: #dadada;
  font-size: 18px;
}

.back-to-editor-btn:hover {
  cursor: pointer;
  color: #ffffff;
}
