
.App {
  font-size: 1em;
  color: #282828;
}

.App-header {
  background: linear-gradient(0deg, #181818 40%, #282828);
  height: 61px;
  border-top: 1px solid #181818;
}

.App-logo {
  height: 36px;
  margin: 12px 0 0 22px;
}
